ConvertYourUnits/ConvertYourUnits/bin/
ConvertYourUnits/ConvertYourUnits/obj/
ConvertYourUnits/ConvertYourUnits.Android/bin/
ConvertYourUnits/ConvertYourUnits.Android/obj/
ConvertYourUnits/ConvertYourUnits.iOS/bin/
ConvertYourUnits/ConvertYourUnits.iOS/obj/
ConvertYourUnits/ConvertYourUnits/ConvertYourUnits.iOS/Resources/
packages/