CalculatorX/CalculatorX/bin/
CalculatorX/CalculatorX/obj/
CalculatorX/CalculatorX.Android/bin/
CalculatorX/CalculatorX.Android/obj/
CalculatorX/CalculatorX.iOS/bin/
CalculatorX/CalculatorX.iOS/obj/
CalculatorX/CalculatorX/CalculatorX.iOS/Resources/